<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5d6a79c8-ac47-4bed-af39-355d5faa630c/resourcegroups/MVC5OnlineMovie/providers/Microsoft.Web/sites/MyApp09282017</ResourceId>
    <ResourceGroup>MVC5OnlineMovie</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myapp09282017.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>myapp09282017.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyApp09282017</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyApp09282017</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vidly20170928014315dbserver.database.windows.net,1433;Initial Catalog=MyApp09282017_db;User ID=swapnildas10@vidly20170928014315dbserver;Password=Watermelon10!)" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vidly.Models.ApplicationDbContext, Vidly" MigrationConfiguration="Vidly.Migrations.Configuration, Vidly" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vidly20170928014315dbserver.database.windows.net,1433;Initial Catalog=MyApp09282017_db;User Id=swapnildas10@vidly20170928014315dbserver;Password=Watermelon10!)</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>