<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f0e2ae6a-a021-4d5d-994e-07f547e87781/resourcegroups/OnlineMovieDB/providers/Microsoft.Web/sites/onlinemovie</ResourceId>
    <ResourceGroup>OnlineMovieDB</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://onlinemovie.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onlinemovie.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>onlinemovie</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$onlinemovie</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:onlinemoviedbserver.database.windows.net,1433;Initial Catalog=onlinemovie_db;User ID=swapnildas10@onlinemoviedbserver;Password=Beach1949!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:onlinemoviedbserver.database.windows.net,1433;Initial Catalog=onlinemovie_db;User Id=swapnildas10@onlinemoviedbserver;Password=Beach1949!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vidly.Models.ApplicationDbContext, Vidly" MigrationConfiguration="Vidly.Migrations.Configuration, Vidly" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:onlinemoviedbserver.database.windows.net,1433;Initial Catalog=onlinemovie_db;User Id=swapnildas10@onlinemoviedbserver;Password=Beach1949!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>