@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>@Html.ActionLink("New Movie", "New", "Movies",null, new{@class="btn btn-primary"})</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "api/movies",
                    dataSrc: ""
                },
                deferRender: true,
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies,meta) {


                            var currentCell = $("#movies").DataTable().cells({"row":meta.row, "column":meta.col}).nodes(0);
                            $(currentCell).text("Loading...");
                            $.ajax({
                                url: "api/moviedetails/details/" + movies.movieDb,
                                method: "GET" 

                            }).done(function (output) {
                              //  console.log(output);
                                var moviepath = "<img src='https://image.tmdb.org/t/p/w154" + output.posterPath+"'/><a class='nav-link' href='/movies/edit/" + movies.id + "'>" + movies.name + "</a>";
                                $(currentCell).html(moviepath);
                            });
                            return null;


                             
                        }
                    },
                    {
                        data: "movieDb",
                        render: function (data,type, full, meta) {
                            var currentCell = $("#movies").DataTable().cells({"row":meta.row, "column":meta.col}).nodes(0);
                            $(currentCell).text("Loading...");
                            $.ajax({
                                url: "api/moviedetails/details/" + data,
                                method: "GET" 

                            }).done(function (output) {
                                
                                $(currentCell).text(output.rating);
                            });
                            return null;
                        }
                    }, {
                        data: "id",
                        render: function(data) {
                            return "<button style='cursor:pointer;' class ='btn btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });



            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                
                    bootbox.confirm("Are you sure?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    
                                    }
                                });
                            }
                        });

                });
        });

    </script>

}
