@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>@Html.ActionLink("New Movie", "New", "Movies",null, new{@class="btn btn-primary"})</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Stock</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "api/movies/allmovies",
                    dataSrc: ""
                },
                deferRender: true,
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies,meta) {

                            return "<a class='nav-link' href='/movies/edit/" + movies.id + "'>" + movies.name + "</a>";


                        }
                    },
                    {
                        data: "stock",
                        render: function (data,type, full, meta) {
                            return "<p class='nav-link'>"+data+"</p>";

                        }
                    }, {
                        data: "id",
                        render: function(data) {
                            return "<button style='cursor:pointer;' class ='btn btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });



            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                
                    bootbox.confirm("Are you sure?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    
                                    }
                                });
                            }
                        });

                });
        });

    </script>

}
