@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"><h2>Movies</h2></div>
<br/>
<div class="row mx-auto my-auto mr-auto ">
    
    <input type="search" class="form-control col-lg-4 col-xs-12 col-sm-4" placeholder="Search Movies" id="searchinput" />       
            
            
        
    
</div>
<br/>
<div class="card-group mx-auto my-auto mr-auto " id="cardgroup">
    
</div>

 
 

<hr/>

@section scripts
{
    <script>
        $(document).ready(function () {


            $("#searchinput").keyup(function(event) {
                $("h3").each(function () {
                    //console.log($(this).text().toLowerCase());
                   // console.log($("#searchinput").val().toLowerCase());
                   // console.log(($(this).text()).indexOf($("#searchinput").val()) ); 
                    
                     
                    if ($(this).text().length>1)
                    if (($(this).text().toLowerCase()).indexOf($("#searchinput").val().toLowerCase()) === -1) {
                        $(this).parent().parent().fadeOut(200,function() {
                            $(this).parent().parent().hide();
                        });
                        //prepend function
                        // $(this).parent().parent().parent().draw();
                    } else {

                        $(this).parent().parent().show(200,function() {
                            $(this).parent().parent().fadeIn(400);
                        });
                        
                      
                        // $(this).parent().parent().parent().draw();
                    }
                     
                });
                 
            });
          


            function createCard(imagesrc, name, linkid) {
                var link = $($((document).createElement("a")).attr('href', linkid)) ;
                $(link).addClass("mb-2");       
                var card = $($((document).createElement("div")).addClass("card")).attr("data-id", name);
              
                $(card).css('max-width','15rem');
                $(card).css('margin', '0');  
                $(card).css('border-radius','.50rem');
                var image = $($((document).createElement("img"))
                    .addClass("card-img-top img-responsive")
                    .attr({ 'src': imagesrc, 'alt': 'Photo' })).css('border-top-left-radius','.50rem');
                var cardBlock = $((document).createElement("div")).addClass("card-block");
                var cardTitle = $((document).createElement("h3")).addClass("card-title mt-2");
                var cardText = $((document).createElement("p")).addClass("card-link");
                $(cardTitle).text(name);
                $(cardText).html(linkid);
                $(cardBlock).append(cardTitle);
               // $(cardBlock).append(cardText);
                $(card).append(image).append(cardBlock);
                $(link).html(card);
                return link;
            }

            var cards = $("#cardgroup");
            $.ajax({
                url: "api/movies",
                method:"GET"
            }).done(function(success) {
                $.each(success,function(key, value) {
                    $.ajax({
                        url: "api/moviedetails/details/" + value.movieDb,
                        method: "GET"

                    }).done(function (output) {
                        var column = $($((document).createElement("div")).addClass("col-xs-12 col-md-6 col-sm-6 col-lg-4 col-xl-3 mb-2 moviecard").css('text-align','center')).attr('data-name',value.name);
                        $(cards).append(column);
                        $(column).append(createCard("https://image.tmdb.org/t/p/original"+output.posterPath, value.name, "/movies/details/" + value.id  ));
                    });
                });
                var arrange = $(".moviecard").sort(function (a, b) {
                    console.log(a);
                    return String.prototype.localeCompare.call($(a).attr("data-name").toLowerCase(), $(b).attr("data-name").toLowerCase());
                 
                });
                var cardgroup = $(".card-group").empty().append(arrange);
                $(".container").append(cardgroup);
               
            });

            
           
          
            
        });
    </script>

}
