@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"><h2>Movies</h2></div>
<br/>
<div  class="row mx-auto my-auto mr-auto ">
    <div id="parentinputwrapper" style="position: relative;" class=" col-lg-4 col-xs-12 col-sm-4">
        <input type="search" class="form-control" placeholder="Search Movies" id="searchinput" />       
    </div >
    <div class=" col-lg-2 col-xs-12 col-sm-4">
               <button id="submitsearch" type="submit" class="btn btn-cyan">Search</button>   

    </div>
             
            
        
    
</div>
<hr />
<div class="row">
    <div class=" card-group mx-auto my-auto mr-auto " id="cardgroup">
    
    </div>
</div>
<hr />
<div class="row" style="text-align: right">
    <div aria-label="Page navigation example" class="col-xs-12 col-sm-12 col-lg-4">
        <ul class="pagination">
            <li class="page-item" >
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
           
            <li class="page-item" id="pagination">
                <a class="page-link" href="#" aria-label="Next" >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

</div>
 
 



@section scripts
{@Scripts.Render("~/Bundles/jqueryval")
    <script>
         
        $(document).ready(function () {
            var searchIconInput = $("#searchinput");
            $("#parentinputwrapper").on("click","#closeicon", function () {
                
                $(searchIconInput).val('');
                $("#closeicon").fadeOut();
            });
            
            $(searchIconInput).on("keyup", function () {
                
                if (($(searchIconInput).val().length > 0) && ($("#closeicon").length===0) ) {
                    var closeIcon = $((document).createElement("span")).addClass("ion-backspace").attr('id','closeicon');
                    $(closeIcon).insertAfter((searchIconInput));

                }  
                if (($(searchIconInput).val().length === 0) && ($("#closeicon").length > 0)) {
                    $("#closeicon").fadeOut();
                }
                if (($(searchIconInput).val().length > 0) && ($("#closeicon").length > 0)) {
                    $("#closeicon").fadeIn();

                }  
            });
            
            
            apicall(1);
            $("#submitsearch").click(function (event) {
                $("#cardgroup").empty();
                var cards = $("#cardgroup");
               
                var searchinput = $("#searchinput");
                
                if ($(searchinput).val().length === 0) {
                    apicall(1);
                } else {
                     $.ajax({
                        url: "api/movies/allmovies?query=" + $(searchinput).val().toLowerCase(),
                        method:"GET"
                    }).done(function (success) {
                        $(cards).empty();
                        $.each(success,function(key, value) {
                            $.ajax({
                                url: "api/moviedetails/details/" + value.movieDb,
                                method: "GET"

                            }).done(function (output) {
                                var column = $($((document).createElement("div")).addClass("col-xs-12 col-md-6 col-sm-6 col-lg-4 col-xl-3 mb-2 moviecard").css('text-align','center')).attr('data-name',value.name);
                                $(cards).append(column);
                                $(column).append(createCard("https://image.tmdb.org/t/p/original"+output.posterPath, value.name, "/movies/details/" + value.id  ));
                            }).fail(function(error) {
                                console.log(error);
                            });
                        });
                    }).fail(function(error) {
                    
                    });
                }
                 
                 
            });
          


            function createCard(imagesrc, name, linkid) {
                var link = $($((document).createElement("a")).attr('href', linkid)) ;
                $(link).addClass("mb-2");       
                var card = $($((document).createElement("div")).addClass("card")).attr("data-id", name);
              
                $(card).css('max-width','100rem');
                $(card).css('margin', '0');  
                $(card).css('border-radius','.50rem');
                var image = $($((document).createElement("img"))
                    .addClass("card-img img-responsive")
                    .attr({ 'src': imagesrc, 'alt': 'Photo' })).css('border-top-left-radius','.50rem');
                var cardBlock = $((document).createElement("div")).addClass("card-block");
                var cardImgOverlay = $((document).createElement("div")).addClass("card-img-overlay text-white");

                var cardTitle = $((document).createElement("h3")).addClass("card-title mt-2");
                var cardText = $((document).createElement("p")).addClass("card-link");
                $(cardTitle).text(name);
                $(cardText).html(linkid);
                $(cardBlock).append(cardTitle);
                $(cardImgOverlay).append(cardBlock);
                $(card).append(image).append(cardImgOverlay);
                $(link).html(card);
                return link;
            }

            var cards = $("#cardgroup");
            
            function apicall(page) {
                $.ajax({
                    url: "api/movies?page="+page,
                    method:"GET"
                }).done(function (success) {
                    $(cards).empty();
                    $.each(success,function(key, value) {
                        $.ajax({
                            url: "api/moviedetails/details/" + value.movieDb,
                            method: "GET"

                        }).done(function (output) {
                            var column = $($((document).createElement("div")).addClass("col-xs-12 col-md-6 col-sm-6 col-lg-4 col-xl-3 mb-2 moviecard").css('text-align','center')).attr('data-name',value.name);
                            $(cards).append(column);
                            $(column).append(createCard("https://image.tmdb.org/t/p/w342"+output.posterPath, value.name, "/movies/details/" + value.id  ));
                        }).fail(function(error) {
                            console.log(error);
                        });
                    });
                 
                
               
                });
            };
           
            
            $.ajax({
                url: "api/movies/pages",
                method: "GET"
            }).success(function(success) {
                      console.log(success);
                var pagination = $("#pagination");
                  
                for (var i = 0; i < success; i++) {
                     
                    var list =     $((document).createElement("li")).addClass("page-item");
                    var link = $((document).createElement("a")).addClass("page-link").text(i + 1);
                    $(link).attr('data-linkid', i+1);
                    $(link).attr('href', '#mainbody');
                    var pos = $("#mainbody").offset().top;

                    $(link).on('click', function () {
                        $('body, html').animate({ scrollTop: pos },1000);
                        var parameter = $(this).attr("data-linkid");
                        apicall(parameter);
                        //   console.log(parameter);
                    });
                    $(list).append(link);
                    $(pagination).before(list);
                }
            });
        });
    </script>

}
