@using Vidly.Models
@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

@section Rentals
{
    <link rel="stylesheet" type="text/css" href="~/Content/new-rental.css"/>
}


<div style="padding-top: 10%;" class="row justify-content-center">
<div class="col-xs-6 col-xs-offset-2">
<div class="card align-self-center ">    
    <div class="card-body">
        <h4 class="card-title">New Rental Form</h4>
        <div class="card-text">
            <form id="newRental" action="">
                <div class="form-group">
                     
                    <div  style="text-align: center;" class="tt-container">
                        <input placeholder="Customer Name" name="customer"id="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control"/>
                        
                    </div>
                </div>


                <div class="form-group">
                     
                    <div style="text-align: center;" class="tt-container">
                        <input  placeholder="Movie Name" name="movie" id="movie" data-rule-atleastOne="true" type="text" value="" class="form-control"/>


                    </div>
                </div>
                <div class="form-group">
                    <ul id="movies" class="list-group"></ul>

                </div>

                <input type="submit" value="Submit" class="btn btn-primary form-control"/>
            </form>

        </div>


    </div></div></div></div>


@section scripts
{@Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(document).ready(function() {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '../api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select",
                function(e, customer) {
                    vm.customerId = customer.id;
                   
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '../api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            var movieId =0;
            $('#movie').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select",
                function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    movieId = movie.id;
                    vm.movieIds.push(movie.id);
                });
            
           
            $.validator.addMethod("atleastOne",function() {
                return vm.movieIds.length > 0 ;
            }, "Please select atleast one movie");

            $.validator.addMethod("validateMovie", function () {
                return movieId > 0;
            }, "Please select movie");
            $.validator.addMethod("validCustomer",
                function() {
                    return vm.customerId && vm.customerId !== 0;
                },"Please select valid customer");
           var validator = $("#newRental").validate({
                submitHandler:function() {
                    
                   
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    }).done(function () {
                        $("#movie").typeahead("val", "");
                        $("#customer").typeahead("val", "");
                        toastr.success("Rentals successfully recorded");
                        $("#movies").empty();
                        vm = { movieIds: [] };
                        validator.resetForm();
                        //(document).getElementById("#movies").removeChild("li");
                    }).fail(function() {
                        toastr.success("Something wrong happened");
                        
                    });
                    return false;
                }
            });
            
        });


    </script>

}
