.body-content {
    margin: 0;
    padding: 0;
    margin: 0;
}
.container {
    margin: 0;
    max-width: 100%;
}
.video-container {
    padding: 10% 0;
    background-color: #231D19;
    text-align: center;
    position: relative;
    
}
.details-container {
    background-color: #0B9B70;
    position: relative;
}
.card {
    top:20%;
    background-color: transparent;
    border: 0;
    position: center;
}
.list-group-item {
    border: 0;
}
.list-group {
   
}
iframe {
     
     
    width: auto;
    height: auto;
    min-height: 200px;
    min-width: 200px;
}
.row {
    margin: 0;
}
#description {
    color: white;
    float: right;
}
 
li {
    color: white;
}

i {
    padding: 10px;
}
#overviewContent {
    
    color: white;
    text-align: left;
}
#poster {
    background-size:auto;
}