.body-content {
    margin: 0;
    padding: 0;
    margin: 0;
}
.container {
    margin: 0;
    max-width: 100%;
}
.video-container {
    padding: 5% 1%  ;
     
    text-align: center;
    position: relative;

    
}
.details-container {
    background-color: #0B9B70;
    position: relative;
}
.card {
     
    background-color: transparent;
    border: 0;
    position: center;
}
.list-group-item {
    border: 0;
}
.list-group {
   
}
iframe {
     
     
    width: auto;
    height: auto;
    min-height: 200px;
    min-width: 200px;
}
.row {
    margin: 0;
}
#description {
    color: white;
    float: right;
}
 
li {
    color: white;
}

i {
    padding: 0 0 0 2px;
}
#overviewContent {
    
    color: white;
    text-align: left;
}
#poster {
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 10%;

   
}
.video-section {
    padding: 0;
    background-color: #231D19;
}

.list-genre {
    float: right;
    display: inline;
     
    list-style: none;
}


.carousel-control {
    padding-top:10%;
    width:5%;
}
.carousel-caption {
    bottom: 5px;
    padding: 0;
     
}
#cast {
    padding: 15px 0;
}
#production {
    text-align: left;
}
.card-title {
    text-align: left;
}
#imdb_link img{
    width: 50px;
    height: auto;
    
}

#tagline {
    float: none;
    color: white;
    font-style: italic;
    text-align: right;
}
#releasedyear {
    font-weight: normal;
    color: grey;
}

.card-actor {
    max-width: 100%;
    max-height: none;
    padding: 0;
    margin: 0;
    
}
    .card-actor .card-block,
    .card-title {
        color: white;
        text-align: center;
        font-size: 100%;
    }
   

.carousel-control-prev, .carousel-control-next {
    width :2%;
}

.ion-android-cart {
    font-size: 150%;
}
.ion-plus-round {
    position: absolute;
     
}

#addtocart {

    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    color: #211618;
}
#addtocart:hover {
    color: #0b9b70;
    transition: color .4s;
    cursor: pointer;
}

.ion-social-usd {
    position: absolute;
     top:5%;
    text-align: center;
    right: 10%;
    font-size: 120%;
}

#priceandcart {
    background-color: rgba(166,186,172,0.7);
    border-radius: 2%;
    padding: 10px 0;
    -webkit-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
}

#priceandcart>div:first-child {
    border-right: 1px solid black;
}

.ion-android-bookmark {
    font-size: 200%;
    color: lightblue;
    cursor:pointer;
}
.ion-android-bookmark:hover {
    color: darkgreen;
    transition: color .4s;
    cursor:pointer;
}

.ion-heart {
    font-size: 200%;
    color: lightcoral;
}
    .ion-heart:hover {
        font-size: 200%;
        color: darkred;
        transition: color .4s;
    }