
body {
    background-image: url(../../img/login-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
     
    height: auto;
}
input {
    background-color: white;
}
html {
    min-height: 100%;
    height: auto;
}
nav {
    background-color: rgba(52,58,64,0.91);
}
.video-container {
    
    position: relative;
}.card-title {
    text-align: center;
}
.list-group-item {
    background-color: transparent;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.field-validation-error,
.input-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}
/* Set width on the form input elements since they're 100% wide by default */

.dataTable {
    background-color: rgba(171,178,174,0.5);
}
.card {
    background-color: rgba(52, 58, 64, 0.25);
    max-width: 23rem;
   

}
.tt-menu {
    width: 100%;
}
footer {
    position:relative;
    bottom: 0px;
    width: 100%;
    
    background-color: #232220;
    padding: 20px;
    text-align: center;
}
 
.container {
    height:auto !important;
    min-height: 38.9rem;
   
}
footer .list-group {
     display: inline-block;
    text-align: center;
    font-size: 150%;
 }

 footer i {
     color: grey;
 }
footer i:hover {
    color: white;
    transition: color 1s;
}
footer p {
    margin: 0;
    padding: 0;
}

    .social-links .list-group-item {
        float: right;
        display: inline;
    }

#maskloading {
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: block;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:  1;
     
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #8D9692;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

td {
    text-align: center;
}

#cardgroup a{

    text-decoration: none;
   
}
 
 #cardgroup a:hover {
     color: lightblue;
     transition: color 1s;
    text-decoration: none;
     
}
    #cardgroup a:hover .card:hover {
        -webkit-transform: scale(1.05); /* Safari and Chrome */
        -moz-transform: scale(1.05); /* Firefox */
        -ms-transform: scale(1.05); /* IE 9 */
        -o-transform: scale(1.05); /* Opera */
        transform: scale(1.05);
        transition: transform 1s;
    }
         
 
#cardgroup {
    text-align: center;
  
}
 
.card-block {
    height: 120%;
}
.card-block> h3 {
    border: none;
    font-size: 100%;
}

#movie_Link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#movie_Link:hover {
    color: white;
    transition: color 1s;

}

#searchinput {
     
    border-radius: .25rem;
    border: 2px solid transparent;
}

#searchinput:focus {
 
    outline: none !important;
    
    border-color: lightgreen;
    box-shadow: 0 0 10px #719ECE;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#navbarSupportedContent {
    float: none;
}