
body {
    background-image: url(../../img/login-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav {
    background-color: rgba(52,58,64,0.91);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.field-validation-error,
.input-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}
/* Set width on the form input elements since they're 100% wide by default */

.dataTable {
    background-color: rgba(171,178,174,0.5);
}
