
body {
    background-image: url(../../img/login-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
     
    height: auto;
}
input {
    background-color: white;
}
html {
    min-height: 100%;
    height: auto;
}
nav {
    background-color: rgba(52,58,64,0.91);
}
.video-container {
    
    position: relative;
}.card-title {
    text-align: center;
}
.list-group-item {
    background-color: transparent;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.field-validation-error,
.input-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}
/* Set width on the form input elements since they're 100% wide by default */

.dataTable {
    background-color: rgba(171,178,174,0.5);
}
.card {
    background-color: rgba(52, 58, 64, 0.25);
    width: 23rem;
}
.tt-menu {
    width: 100%;
}
footer {
    position:relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #232220;
    padding: 20px;
}
footer p {
    margin: 0;
}
.container {
    height:auto !important;
    min-height: 38.9rem;
}
.social-links {
    display: block;
    list-style: none;
    text-align: center;
    
     
    
}

.social-links li {
    float: right;  
}.social-links ul {
     text-align: center;
}