<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
    <connectionStrings>
      <add name="DefaultConnection"  providerName="System.Data.SqlClient" connectionString="Data Source=onlinemoviedbserver.database.windows.net;Initial Catalog=onlinemovie_db;Integrated Security=False;User ID=swapnildas10;Password=Beach1949!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

      <!--
      <add name="DefaultConnection"
        connectionString="Data Source=184.168.194.68;User ID=dasswapnil10;Password=Beach1949!"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        
         <add name="DefaultConnection"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=mydbinstance.cthhfo74uhgt.us-west-1.rds.amazonaws.com,1433;Initial Catalog=mydb;User ID=swapnildas10;Password=Watermelon10!)"
      />
         <add name="DefaultConnection" connectionString="Data Source=35.197.49.242;Initial Catalog=onlinemoviedb;Integrated Security=False ;User ID=onlinemoviedb;Password=12345678;MultipleActiveResultSets=True" />
   
         -->
      </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
