@model Vidly.ViewModels.FavoriteMoviesVIewModel
@{
    ViewBag.Title = "MyFavorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/onlinerentals.css" type="text/css" />
}
<div class="container-fluid">
    <div class="row">
        <h2>My Favorites</h2>
    </div>
    <hr />
    
    <div class="row">
        <h3>Rented</h3>
    </div>
    <hr />
    <div id="currentrentalsection" class="row">



    </div>
    <div class="row">
        <h3>Not Rented</h3>
    </div>
    <hr />
    <div id="notrentedsection" class="row">



    </div>


</div>


@section scripts
{
    @Scripts.Render("~/bundles/lib")
    <script>

        $(document).ready(function() {
            getsavedCards();
        });
        function getsavedCards() {
            var def = new jQuery.Deferred();
            var notrentedsection = $("#notrentedsection");
            var currentrentalsection = $("#currentrentalsection");
            $.ajax({
                url: "/api/FavoriteMovies",
                method: "GET"
            }).done(function (success) {

                $.each(success,
                    function (key, value) {
                        // console.log(value);
                       
                        var col = $((document).createElement("div"))
                            .addClass("col-xs-12 col-sm-4 col-md-4 col-lg-3");
                        var url = "/movies/details/" + value.movie.id;
                        var span = $((document).createElement("div")).addClass("row");
                        var row = $((document).createElement("div"))
                            .addClass("col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12");
                        var id = value.movie.id;
                        var clock1 = $((document).createElement("div")).addClass("light clock clock_" + id);
                        var display = $((document).createElement("div")).addClass("display");
                        var weekdays = $((document).createElement("div")).addClass("weekdays");
                        var ampm = $((document).createElement("div")).addClass("ampm");
                        var hrs = $((document).createElement("div")).addClass("hrs").text("hours");
                        var min = $((document).createElement("div")).addClass("mins").text("minutes");
                        var days = $((document).createElement("div")).addClass("days").text("days");
                        //   var secs = $((document).createElement("div")).addClass("secs").text("secs");
                        //  var alarm = $((document).createElement("div")).addClass("alarm");
                        var digits = $((document).createElement("div")).addClass("digits");
                        var insideClock = $(display).append(weekdays).append(digits).append(days).append(hrs);
                        var mainclock = $(clock1).append(insideClock);
                        //  $(span).append(mainclock);
                        //value.movie.movieDb

                        $.ajax({
                            url: "/api/moviedetails/details/" + value.movie.movieDb,
                            method: "GET"

                        }).done(function (output) {
                            var column = $($((document).createElement("img"))).addClass("card-img-top img-responsive")
                                .attr('data-name', value.name).attr("src",
                                "https://image.tmdb.org/t/p/w342" + output.posterPath);
                            //  name, linkid, dateadded, movieidvalue.dateRented
                            var imgurl = "https://image.tmdb.org/t/p/w342" + output.posterPath;
                            $.ajax({
                                url: "/api/isOwnedFavorite/" + value.movie.id,
                                method: "GET"

                            }).done(function (output) {
                                
                                if (output) {
                                     
                                    $.ajax({
                                        url: "/api/mycurrentrental/" + value.movie.id,
                                        method: "GET"
                                    }).done(function (rentaldetails) {
                                        $(currentrentalsection)
                                            .append($(row).append(createCard(value.movie.name,
                                                url,
                                                imgurl,
                                                rentaldetails.dateRented,
                                                value.movie.id, value.movie.cost, output)));


                                        $(".card_" + value.movie.id + " a").mouseenter(function () {
                                       
                                                    appendPlay(value.movie.id);
                                         


                                        });
                                        $(".card_" + id + " a").mouseleave(function () {
                                            
                                                    removePlay(value.movie.id);
                                            
                                        });
                                    });
                                    
                                }
                                else {
                                     
                                    $(notrentedsection)
                                        .append($(row).append(createCard(value.movie.name,
                                            url,
                                            imgurl,
                                            null,
                                            value.movie.id, value.movie.cost, output)));

                                }
                            }).fail(function (error) {

                                console.log(error);
                            });
                            

                            $(span).append(column);
                           
                            markedSave(value.movie.id);
                            
                        }).fail(function (error) {
                            //  console.log(error);
                            });
                        //  clock(value.movie.id, value.dateRented);
                    });
                // toggleoutofstockIcons();
                //  clock(id);
            });


            //collapse
            $("#collapsebutton").click(function () {

                $("#collapsible").fadeToggle();
            });


            //payment form

        };
         function markedSave(id) {
            var bookmarkicon = $("#addtosave_" + id+" i");
            var bookmark = $("#addtosave_" + id);
            $.ajax({
                url: "/api/FavoriteMovies/"+id,
                method: "GET"
            }).done(function(success) {
                $(bookmark).off().click(function() {
                    removefromSave(id);
                });
                $(bookmarkicon).css("color", "darkred");
            }).fail(function(error) {

            });
        }
        function removePlay(id) {

            var hclass = $(".card_" + id + " .card-hover");
            $(".card_" + id + " .card-hover").removeClass("active");
            $(hclass).find("#row_" + id).detach();
            //  $(hclass).find("span").remove();

        }
        function appendPlay(id) {
            var hclass = $(".card_" + id + " .card-hover");
            $(".card_" + id + " .card-hover").addClass("active row mx-auto my auto justify-content-center");

            var icon = $((document).createElement("span")).addClass("ion-play mx-auto my-auto px-auto py-auto");
            var row = $((document).createElement("div")).addClass("row  mx-auto my auto justify-content-center")
                .attr("id", "row_" + id)
                .append(icon);
            $(hclass).append(row);


        }
        function createCard(name, linkid, imageurl, dateadded, movieid, cost, isOwned) {
            var rentalicon = $((document).createElement("i")).addClass("ion-ios-information");
            var infoicon = $((document).createElement("i")).addClass("ion-heart");
            var carticon = $((document).createElement("i")).addClass("ion-ios-undo");
            var ownedIcon = $((document).createElement("i")).addClass("ion-android-done");
            var image = $($((document).createElement("img"))
                .addClass("card-img-top img-responsive ")
                .attr({ 'src': imageurl, 'alt': 'Photo' })).css('border-top-left-radius', '.50rem');

            var row = $((document).createElement("div")).addClass("row justify-content-center");
            var link = $($((document).createElement("a")).attr('href', linkid)).text(name).hover(function (e) {
                e.stopImmediatePropagation();
            });
            
            if (isOwned)
            var del = $($((document).createElement("a")).html(rentalicon)).addClass("card-link col rental_" + movieid)
                .mouseenter(function (e) {

                    e.stopImmediatePropagation();
                    appendrentaldetail(movieid, dateadded, cost);
                }).mouseleave(function (e) {

                    e.stopImmediatePropagation();
                    removerentaldetail(movieid, dateadded, cost);
                });
            var info = $($((document).createElement("a"))).addClass("card-link col").attr("id", "addtosave_" + movieid)
                .html(infoicon).hover(function (e) {
                    e.stopPropagation();
                    e.stopImmediatePropagation();
                }).click(function (e) {
                    e.stopImmediatePropagation();
                    //////////////////////
                    addtoSave(movieid);
                    return false;
                });
            var cart = $($((document).createElement("a"))).addClass("card-link col")
                .html(carticon).click(function () {
                    returnRentedMovie(movieid);
                }).hover(function (e) {

                    e.stopImmediatePropagation();
                });;


            $(link).addClass("mb-2");
            var card = $($((document).createElement("div")).addClass("card  card_" + movieid))
                .attr("data-id", name);


            $(card).css("display", "block");


            var icons = $(row).append(info).append(cart).append(del);
            var cardBody = $((document).createElement("div")).addClass("card-body");
            var hovereffect = $((document).createElement("div")).addClass("card-hover");
            var linkcard = $((document).createElement("a")).addClass("card-text");
            var linkcardBody = $((document).createElement("div")).addClass("card-footer").append(icons);
            var cardTitle = $((document).createElement("h3")).addClass("card-header bg-transparent");
            var cardText = $((document).createElement("p")).addClass("card-text");
            $(cardTitle).html(link);
            $(cardText).html(dateadded);
            $(cardBody).append(cardTitle);
            $(linkcard).append(image);
            $(linkcard).append(hovereffect);
            $(cardBody).append(linkcard);

            $(cardBody).append(linkcardBody);

            $(card).append(cardBody);

            return card;
        }

        function returnRentedMovie(id) { }
        function addtoSave(id) {
            var bookmark = $("#addtosave_" + id);

            $.ajax({
                url: "/api/FavoriteMovies/"+id,
                method: "PUT"
            }).done(function (success) {
                $(bookmark).find("i").css("color","darkgreen");
                toastr.success(success);
                $(bookmark).off().click(function() {
                    removefromSave(id);
                });
            }).fail(function(error) {
                toastr.error(error.responseJSON);
            });


        }
        function removefromSave(id) {
            var bookmarkicon = $("#addtosave_"+id+" i");
            var bookmark = $("#addtosave_"+id);
            $.ajax({
                url: "/api/FavoriteMovies/"+id,
                method: "DELETE"
            }).done(function(success) {
                toastr.success(success);
                $(bookmarkicon).css("color", "");
                $(bookmark).off().click(function () {
                    addtoSave(id);
                });
            }).fail(function(error) {

            });
        }

        function removerentaldetail(id) {
            var hclass = $(".card_" + id + " .card-hover");
            $(".card_" + id + " .card-hover").removeClass("active");
            $(hclass).find("#detail_row_" + id).remove();
        }


        function appendrentaldetail(id, dateRented, cost) {
            var hclass = $(".card_" + id + " .card-hover");
            $(".card_" + id + " .card-hover").addClass("active row mx-auto my auto justify-content-center");
            var output = moment(moment(), "YYYY-MM-DDTHH:mm:ss.SSS")
                .diff(moment(dateRented, "YYYY-MM-DDTHH:mm:ss.SSS"));
            var d = moment.duration(output);
            var days = Math.ceil(d.days())+1;
            var date = $((document).createElement("div")).addClass("col-12 rented-date")
                .text("Date Rented: " + moment(dateRented, "YYYY-MM-DDTHH:mm:ss.SSS").format("MMM-DD-YYYY"));
            var time = $((document).createElement("div")).addClass("col-12 rented-time")
                .text("Time Rented: "+moment(dateRented, "YYYY-MM-DDTHH:mm:ss.SSS").format("hh:mmA"));
            var totalCost = $((document).createElement("div")).addClass("col-12 rented-cost").text("Cost till date: $"+cost * days);
            var perCost = $((document).createElement("div")).addClass("col-12 rented-percost").text("Cost per day: $"+cost);
            var daysRented = $((document).createElement("div")).addClass("col-12 rented-days").text("Days Rented: "+days);
            var row = $((document).createElement("div")).addClass("row  mx-auto my auto justify-content-center")
                .attr("id", "detail_row_" + id)
                .append(date).append(time).append(daysRented).append(perCost).append(totalCost);
            $(hclass).append(row);

        }
    </script>
}
